@media screen and (min-width:992px) {

    body{
        overflow-x: hidden;
    }
    a.navlinka {
        font-size: 22px;
    }

    .navtab button {
        font-size: 22px;
        width: 120px;
    }

    .navbar {

        border-width: 0.5px;
        border-color: #85677D;
        width: 100%;
        margin-top: 2%;
    
    
    }
    
    .navlink {
        width: 100%;
        display: flex;
    }
    
    .navtab {
        margin-left: 3%;
    }
    
    .navtab button {
        border-radius: 5px;
        background-color: #AC8BA5;
        color: #ffff;
        border: none;
    
    
        font-weight: bold;
    }
    
    .navtab button:hover {
        background-color: #DBC5D5;
        color: #94768C;
        animation-name: loginbutton;
        animation-duration: 1s;
    }
    
    .navtab button:focus {
        width: 150px;
    }
    
    
    .navtab a {
        color: #7F6F94;
    
        font-weight: bold;
    }
    
    .navtab a:hover {
        color: #7F6F94;
        text-decoration: none;
    }
    
    .hamburger {
        display: none;
    }

    .bigimg{
        width:100%;
        position: relative;
    }

    .bigimg img{
        width:100%;
        filter: brightness(60%);
    }

.bigimg .textbox{
    position: absolute;
    z-index: 1;
    margin-left: 10%;
    margin-top: 18%;
}

    .textbox h1{

        color: #ffff;
        font-family: 'Anton', sans-serif;
       font-weight: bolder;
        font-size: 56PX;
    }

    .textbox P{
        padding-left: 6%;
        z-index: 1;
        color: #ffff;
        font-size: 28PX;

    }

}